[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
  display: none !important; }

@font-face {
  font-family: "Open Sans Light";
  src: url(fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: "Open Sans Regular";
  src: url(fonts/OpenSans-Regular.ttf); }
html * {
  letter-spacing: 1px;
  font-family: "Open Sans Light";
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

.menu_section {
  letter-spacing: 2px;
  font-weight: 100;
  position: absolute;
  width: 100%;
  z-index: 30; }
  .menu_section .container {
    padding: 0; }
  .menu_section .navbar-default {
    background: transparent;
    border: 0;
    box-shadow: none; }
    .menu_section .navbar-default .navbar-collapse, .menu_section .navbar-default .navbar-form {
      text-transform: uppercase; }
    .menu_section .navbar-default .navbar-collapse {
      padding-top: 8px; }
    .menu_section .navbar-default .navbar-nav > li {
      height: 40px;
      margin: 0 8px; }
      .menu_section .navbar-default .navbar-nav > li > a {
        color: #fff !important;
        height: 100%;
        padding: 9px; }
        .menu_section .navbar-default .navbar-nav > li > a:hover {
          text-decoration: underline; }
        .menu_section .navbar-default .navbar-nav > li > a:focus {
          outline: none; }
        .menu_section .navbar-default .navbar-nav > li > a.profile-img {
          padding: 0; }
    .menu_section .navbar-default .navbar-brand {
      margin-right: 16px; }
    .menu_section .navbar-default .container-fluid {
      padding: 24px 8px 24px 4px;
      max-width: 1200px; }
    .menu_section .navbar-default .navbar-search {
      margin-top: 0; }
      .menu_section .navbar-default .navbar-search ::-webkit-input-placeholder {
        color: #fff; }
      .menu_section .navbar-default .navbar-search :-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
      .menu_section .navbar-default .navbar-search ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .menu_section .navbar-default .navbar-search :-ms-input-placeholder {
        color: #fff; }
      .menu_section .navbar-default .navbar-search .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        width: 250px;
        padding-left: 0;
        padding-bottom: 0;
        font-size: 14px;
        padding-top: 2px; }
      .menu_section .navbar-default .navbar-search .input-group-addon {
        background: none;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 0;
        position: absolute;
        right: 0; }
        .menu_section .navbar-default .navbar-search .input-group-addon .icon-search {
          background-image: url("images/search.png");
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          margin-top: 6px; }
    .menu_section .navbar-default .navbar-right .dropdown-menu {
      background-color: #f6f6f6;
      border-radius: 10px;
      border: none; }
    .menu_section .navbar-default .create_trip {
      background-color: #f25b53;
      border-radius: 40px;
      text-align: center; }
    .menu_section .navbar-default .notification {
      position: relative; }
      .menu_section .navbar-default .notification i {
        font-size: 22px; }
      .menu_section .navbar-default .notification span {
        position: absolute;
        top: -4px;
        right: -4px;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f25b53;
        padding-top: 2px;
        text-align: center; }
    .menu_section .navbar-default.navbar-fixed-top {
      background-image: url("images/header_main.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
    .menu_section .navbar-default .dropdown-menu .notification span {
      top: 2px;
      right: 8px; }
  .menu_section .navbar-brand {
    color: #fff; }
    .menu_section .navbar-brand span {
      text-transform: uppercase; }
    .menu_section .navbar-brand > img {
      display: inline-block;
      margin-right: 8px; }

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block; }
  .profile-img img {
    width: 100%;
    height: 100%; }
  .profile-img a {
    padding: 0 !important; }

.main_header {
  letter-spacing: 2px;
  height: 412px;
  background-image: url("images/header_main.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
  .main_header .container {
    padding-top: 98px;
    position: relative;
    height: 100%; }
  .main_header .title-table {
    display: table;
    height: 90%;
    margin: auto; }
  .main_header .title-contetn {
    display: table-cell;
    vertical-align: middle; }
  .main_header h1 {
    max-height: 150px;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 45px;
    color: #fff;
    margin-bottom: 4px; }
  .main_header .short_info {
    color: #fff; }
    .main_header .short_info .name {
      text-align: right;
      min-height: 40px; }
      .main_header .short_info .name span {
        margin-right: -20%;
        vertical-align: -webkit-baseline-middle; }
    .main_header .short_info span {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px; }
    .main_header .short_info .date {
      text-align: left;
      min-height: 40px; }
      .main_header .short_info .date span {
        margin-left: -20%;
        vertical-align: -webkit-baseline-middle; }
  .main_header .secondary_info {
    list-style: none;
    margin-top: 8px;
    padding-left: 0; }
    .main_header .secondary_info li {
      display: inline-block; }
      .main_header .secondary_info li:before {
        content: '\2022';
        padding: 0 8px;
        color: rgba(255, 255, 255, 0.302); }
      .main_header .secondary_info li:first-child:before {
        content: initial;
        padding: 0; }
      .main_header .secondary_info li a {
        font-size: 18px;
        color: #f25b53; }
        .main_header .secondary_info li a:hover {
          cursor: pointer; }
  .main_header .top_buttons {
    position: absolute;
    bottom: -36px;
    width: 100%;
    margin-left: -15px; }
    .main_header .top_buttons .btn {
      width: 120px;
      box-shadow: 0px 3px 4px 0px rgba(155, 155, 155, 0.14);
      height: 72px;
      border-radius: 8px;
      color: #fff;
      background-color: #f25b53;
      text-transform: uppercase;
      font-weight: 100; }
      .main_header .top_buttons .btn.active {
        background-color: #fff;
        color: #f25b53;
        z-index: 0; }
      .main_header .top_buttons .btn:focus {
        outline: 0; }
      .main_header .top_buttons .btn:hover {
        z-index: 0; }
      .main_header .top_buttons .btn.btn-middle {
        background-color: #ea4d43; }
      .main_header .top_buttons .btn span {
        display: block;
        font-size: 24px; }

.content {
  min-height: 100%;
  margin-bottom: -60px; }
  .content:after {
    content: "";
    display: block; }
  .content .caption {
    width: 100%;
    font-size: 18px;
    color: rgba(85, 85, 96, 0.702);
    max-width: 772px;
    margin: auto;
    margin-top: 86px;
    margin-bottom: 56px; }
  .content .slider-for .slick-slide {
    padding-left: 30px; }
  .content .slide-content {
    border-left: 1px solid #ebebeb; }

.navigation-container {
  background-color: #f6f6f6;
  height: 90px;
  list-style: none;
  padding: 8px 40px;
  z-index: 29;
  width: 100%; }
  .navigation-container:hover {
    cursor: pointer; }
  .navigation-container .slide_pager {
    text-align: center;
    height: 100%; }
    .navigation-container .slide_pager span {
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 50%;
      background-color: #f25b53;
      overflow: hidden;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      margin-top: 32px;
      font-size: 18px;
      line-height: 1;
      padding-top: 5px; }
    .navigation-container .slide_pager label {
      display: none;
      text-transform: uppercase;
      color: #f25b53;
      overflow: hidden;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    .navigation-container .slide_pager:hover span {
      border: 2px solid #f25b53;
      background-color: transparent;
      color: #f25b53;
      width: 52px;
      height: 52px;
      margin-top: 0; }
    .navigation-container .slide_pager:hover label {
      display: block; }
    .navigation-container .slide_pager.slick-current span {
      background-color: #f25b53;
      width: 52px;
      height: 52px;
      color: #fff;
      margin-top: 0;
      font-weight: 100; }
    .navigation-container .slide_pager.slick-current label {
      display: block; }
    .navigation-container .slide_pager.slick-current:hover span {
      border: 0; }
    .navigation-container .slide_pager.slick-current:hover label {
      display: block; }
  .navigation-container .slick-track, .navigation-container .slick-list {
    height: 100%; }
  .navigation-container .slick-slide:focus {
    outline: none; }

.navigation-container {
  position: relative; }
  .navigation-container .scroll-note {
    position: absolute;
    top: 0;
    z-index: 30;
    color: #f25b53;
    font-size: 36px;
    padding: 24px;
    cursor: pointer; }
    .navigation-container .scroll-note.arrow-left {
      left: 0; }
    .navigation-container .scroll-note.arrow-right {
      right: 0; }

.slick-slide {
  outline: none; }

.map-container {
  height: 100%;
  width: 28%;
  right: 0;
  top: 550px;
  padding-top: 170px;
  position: absolute; }
  .map-container .btn-hide-map {
    position: absolute;
    z-index: 99;
    right: 0;
    width: 45px;
    height: 40px;
    background-color: black;
    opacity: 0.6;
    font-size: 28px;
    border: 0; }
    .map-container .btn-hide-map i {
      color: #fff;
      vertical-align: text-top; }
    .map-container .btn-hide-map:focus {
      outline: none; }
  .map-container .map {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 14px 0px rgba(155, 155, 155, 0.5); }

.note-menu {
  padding: 0 30px;
  position: relative;
  margin: 32px 0;
  cursor: pointer; }
  .note-menu .add-button {
    position: absolute;
    color: #b4b4b4;
    border-radius: 50%;
    top: 1px;
    background-color: #b4b4b4;
    left: -12px;
    width: 22px;
    height: 22px;
    padding: 5px;
    line-height: 0.5;
    color: #fff;
    font-size: 22px;
    transition: all .3s, transform 1s; }
  .note-menu .hovered_add_button {
    background-color: #f25b53;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -7px;
    font-size: 32px;
    padding: 11px; }
  .note-menu .close-button {
    transform: rotate(135deg);
    color: #fff;
    position: absolute;
    background-color: #f25b53;
    left: -22px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    top: -7px;
    border-radius: 50%;
    padding: 10px;
    line-height: 0.5;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
  .note-menu .node-menu-item {
    text-transform: uppercase;
    color: rgba(85, 85, 96, 0.702);
    height: 40px;
    display: inline-block;
    margin: 0 8px; }
    .note-menu .node-menu-item .type_marker {
      background-image: url("images/icon_marker.png"); }
    .note-menu .node-menu-item .type_photo {
      background-image: url("images/grey_icon_photo.png"); }
    .note-menu .node-menu-item .type_note {
      background-image: url("images/note_icon.png"); }
    .note-menu .node-menu-item .node-menu-icon {
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 8px; }
    .note-menu .node-menu-item .node-menu-text {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle; }
    .note-menu .node-menu-item:hover {
      color: #f25b53; }
      .note-menu .node-menu-item:hover .type_marker {
        background-image: url("images/red_icon_marker.png"); }
      .note-menu .node-menu-item:hover .type_photo {
        background-image: url("images/red_icon_photo.png"); }
      .note-menu .node-menu-item:hover .type_note {
        background-image: url("images/red_note_icon.png"); }
  .note-menu .check-in-input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    outline: none;
    border: none;
    padding-left: 16px; }
  .note-menu .chekin-inputs {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 40px;
    margin: 0 15px; }
    .note-menu .chekin-inputs .input-group {
      display: inline-block;
      border-bottom: 1px solid rgba(85, 85, 96, 0.702);
      position: relative;
      width: 100%; }
      .note-menu .chekin-inputs .input-group input {
        border: none;
        height: 30px;
        width: 90%; }
        .note-menu .chekin-inputs .input-group input:focus {
          outline: none; }
      .note-menu .chekin-inputs .input-group i {
        font-size: 20px;
        color: rgba(85, 85, 96, 0.702);
        vertical-align: middle;
        position: absolute;
        right: 0;
        bottom: 2px; }
      .note-menu .chekin-inputs .input-group:hover {
        color: #f25b53; }
        .note-menu .chekin-inputs .input-group:hover i {
          color: #f25b53; }
  .note-menu .group-item {
    text-align: center;
    max-width: 450px; }

.base {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 251px;
  top: 189px;
  width: 463px;
  height: 39px;
  z-index: 1231; }

.note-element {
  margin-bottom: 30px; }

.note-coordinates {
  color: rgba(85, 85, 96, 0.702); }
  .note-coordinates i {
    font-size: 20px; }

.comment {
  margin-bottom: 30px; }

.comment-aria textarea {
  border: 0;
  outline: 0;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom: 1px solid #d9d9dc;
  padding-bottom: 4px;
  color: rgba(85, 85, 96, 0.702);
  padding: 0; }
  .comment-aria textarea:focus {
    border-color: #d9d9dc;
    outline: 0; }

.comment-list {
  margin-top: 30px; }
  .comment-list .profile-img {
    width: 50px;
    height: 50px; }

.comment-author {
  font-weight: bold; }

.comment-time {
  color: rgba(85, 85, 96, 0.702);
  position: absolute;
  right: 40px;
  top: 4px; }

.marker {
  background-color: #ea4d43; }
  .marker.active {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #ea4d43;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center; }
  .marker.hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #ea4d43;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center; }

.note-comments .likes, .note-comments .comments {
  color: #f25b53;
  cursor: pointer;
  background-image: url("images/heart-o.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position-y: center;
  font-size: 20px;
  padding-right: 16px; }
  .note-comments .likes span, .note-comments .comments span {
    margin-left: 18px;
    font-size: 18px;
    color: rgba(85, 85, 96, 0.702);
    padding-left: 5px; }
  .note-comments .likes.active, .note-comments .comments.active {
    background-image: url("images/heart.png"); }
.note-comments .add-comment {
  margin-top: 8px; }
  .note-comments .add-comment .btn {
    margin-top: 8px;
    margin-left: 8px; }

.note-icon {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  left: -18px;
  top: -6px;
  padding: 8px 0;
  border-radius: 50%;
  background-color: #f25b53;
  padding: 8px;
  font-size: 18px;
  width: 34px;
  height: 34px; }
  .note-icon div.fa-map-marker {
    padding: 8px 12px; }

.note {
  padding: 0 30px;
  position: relative;
  margin-bottom: 60px; }
  .note .note-marker {
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    background-position-y: center; }

.note-caption {
  color: rgba(85, 85, 96, 0.702); }

.note-place-name {
  position: relative; }

.note-place-title {
  font-weight: bold;
  margin-bottom: 8px; }

.note-place-subtitle {
  color: rgba(85, 85, 96, 0.702);
  padding-bottom: 8px;
  border-bottom: 2px solid #ea4d43; }

.note-place-rating {
  position: absolute;
  right: 0;
  top: 0;
  list-style: none;
  float: right; }
  .note-place-rating li {
    display: inline-block;
    font-size: 20px;
    color: #ea4d43; }
    .note-place-rating li:first-child {
      color: rgba(85, 85, 96, 0.702);
      font-size: 18px;
      margin-right: 8px; }

.note-photos {
  margin-right: -30px;
  margin-left: -40px;
  background-color: #fff; }
  .note-photos .imgs-grid {
    max-width: 100%; }
  .note-photos .image-wrap {
    border-radius: 16px;
    margin: 2px; }
    .note-photos .image-wrap img {
      border-radius: 16px; }

.imgs-grid .imgs-grid-image .view-all .view-all-text {
  font-size: 40px;
  letter-spacing: 4px; }

.btn-group.note-options {
  float: right; }
  .btn-group.note-options .btn {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0; }
  .btn-group.note-options .fa {
    font-size: 25px;
    color: rgba(85, 85, 96, 0.702);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .btn-group.note-options.open .fa {
    transform: rotate(180deg); }

.footer .footer_ul {
  cursor: pointer;
  padding-left: 0; }
  .footer .footer_ul li {
    display: inline-block; }
    .footer .footer_ul li:before {
      content: '\2022';
      padding: 0 8px;
      color: #f25b53;
      font-size: 8px;
      vertical-align: middle; }
    .footer .footer_ul li:first-child:before {
      content: initial;
      padding: 0; }
    .footer .footer_ul li a {
      font-weight: 200;
      color: rgba(85, 85, 96, 0.702);
      font-size: 14px;
      text-transform: uppercase; }
      .footer .footer_ul li a:hover {
        text-decoration: none; }
.footer .copyright {
  color: rgba(85, 85, 96, 0.702);
  text-transform: capitalize; }

.footer, .content:after {
  height: 60px; }

.fixed-menu .navigation-container {
  position: fixed;
  margin-top: 98px;
  top: 0;
  height: 70px; }
  .fixed-menu .navigation-container .scroll-note {
    padding-top: 16px;
    padding-bottom: 16px; }
  .fixed-menu .navigation-container .slick-list {
    overflow: visible; }
  .fixed-menu .navigation-container .slide_pager span {
    margin-top: 25px; }
  .fixed-menu .navigation-container .slide_pager:hover span {
    margin-top: 0; }
  .fixed-menu .navigation-container .slide_pager:hover label {
    margin: auto;
    margin-top: 4px;
    border-radius: 20px;
    background-color: #404752;
    width: 161px;
    height: 34px;
    font-size: 18px;
    color: white;
    line-height: 1.778; }
  .fixed-menu .navigation-container .slick-current span {
    margin-top: 0; }
  .fixed-menu .navigation-container .slick-current label {
    display: none; }
.fixed-menu .map-container {
  position: fixed;
  top: 0; }
.fixed-menu .content {
  padding-top: 67px; }

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%; }

.check-in-modal .modal-dialog {
  border-radius: 10px;
  box-shadow: -2.605px 14.772px 91.67px 11.33px rgba(9, 23, 59, 0.4);
  width: 464px;
  overflow: visible; }
.check-in-modal button:focus {
  outline: none; }
.check-in-modal .modal-header {
  padding: 0 30px;
  padding-top: 24px;
  border: 0; }
  .check-in-modal .modal-header .close {
    margin-top: -8px;
    margin-right: -8px;
    font-size: 32px;
    color: #f25b53;
    opacity: 1; }
    .check-in-modal .modal-header .close span {
      font-weight: 100; }
  .check-in-modal .modal-header .modal-title {
    font-size: 22px; }
.check-in-modal .modal-body {
  padding: 0 30px;
  padding-top: 12px; }
  .check-in-modal .modal-body .checkin-place {
    font-size: 16px;
    letter-spacing: 2px; }
    .check-in-modal .modal-body .checkin-place span {
      color: #f25b53; }
  .check-in-modal .modal-body .timepicker:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .uib-datepicker .btn-default {
    border: none;
    border-radius: 0;
    background-image: none;
    border-color: transparent; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group .btn-danger {
    background-image: none;
    border: none;
    background-color: #f25b53; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group .btn-info {
    background-image: none;
    border: none; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group:hover, .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group :focus {
    border: none; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-success {
    background-image: none;
    border: none; }
  .check-in-modal .modal-body .ui-timepicker-input {
    cursor: pointer; }
  .check-in-modal .modal-body .ui-timepicker-wrapper {
    display: block;
    position: absolute;
    left: 0;
    width: 87%;
    border: 1px solid #c1c1c1;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    list-style: none;
    max-height: 100px;
    overflow-y: scroll; }
    .check-in-modal .modal-body .ui-timepicker-wrapper .ui-timepicker-list {
      padding: 0 13px; }
      .check-in-modal .modal-body .ui-timepicker-wrapper .ui-timepicker-list .ui-timepicker-am {
        list-style: none; }
  .check-in-modal .modal-body .checkin-title {
    font-size: 18px;
    margin-bottom: 7px; }
    .check-in-modal .modal-body .checkin-title span {
      font-weight: bold; }
  .check-in-modal .modal-body .checkin-rating {
    list-style: none;
    padding: 0; }
    .check-in-modal .modal-body .checkin-rating li {
      display: inline-block;
      font-size: 20px;
      color: #ea4d43;
      cursor: pointer; }
.check-in-modal .modal-footer {
  padding: 0; }
  .check-in-modal .modal-footer .btn-next {
    width: 100%;
    border-radius: 0;
    height: 60px;
    background-color: #f25b53;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
.check-in-modal .modal-map-container {
  height: 150px;
  margin: 0 -30px; }

.uib-button-bar {
  display: none; }

.checkin-calendar .input-group-btn .btn {
  background: none;
  border: none;
  box-shadow: none; }
.checkin-calendar .fa-angle-down {
  color: #f25b53;
  font-size: 24px; }
.checkin-calendar .form-control {
  border: none;
  box-shadow: none;
  color: #f25b53;
  text-align: center;
  font-size: 18px; }
.checkin-calendar .bootstrap-timepicker {
  color: #f25b53; }
  .checkin-calendar .bootstrap-timepicker .fa-angle-down {
    position: absolute;
    right: 30px;
    top: 6px; }

.ui-timepicker-wrapper {
  text-align: center;
  cursor: pointer; }

.timepicker {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  width: 90%; }

.uib-datepicker-popup *:focus {
  outline: none; }
.uib-datepicker-popup:focus {
  outline: none; }
.uib-datepicker-popup .btn-default:focus, .uib-datepicker-popup .btn-default:hover {
  background-color: #f25b53;
  color: #fff; }
.uib-datepicker-popup .text-info, .uib-datepicker-popup .text-muted {
  color: #fff; }
.uib-datepicker-popup .btn.btn-default.btn-info {
  background-color: #f25b53;
  color: #fff; }
.uib-datepicker-popup .btn-info.active, .uib-datepicker-popup .btn-info:active {
  background-color: #ea4d43;
  color: #fff; }

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 10px; } }
@media (max-width: 1250px) {
  .menu_section .navbar-default .navbar-nav > li {
    margin: 0 4px; }
  .menu_section .navbar-default .navbar-brand {
    margin-right: 8px; }
  .menu_section .navbar-default .navbar-search .input-group {
    width: 100%; }
  .menu_section .navbar-default .navbar-search .form-control {
    width: 100%; }
  .menu_section .navbar-default .navbar-search .input-group-addon {
    right: 14px; }
  .menu_section .navbar-default .notification span {
    right: 0; } }
@media (max-width: 768px) {
  .content .slider-for .slide-content {
    margin-left: 10px; }

  .note-place-rating li:first-child {
    display: block;
    text-align: right; }

  .comment-author {
    height: 40px; }

  .comment-time {
    width: 134px;
    top: 25px;
    right: 10px;
    text-align: right; }

  .note-menu .chekin-inputs {
    height: auto;
    padding: 15px 0; }

  .menu_section .navbar-default .navbar-collapse {
    padding-right: 24px;
    background-color: rgba(85, 85, 96, 0.702); }
  .menu_section .navbar-default .container-fluid {
    padding: 8px 15px; }
  .menu_section .navbar-default .notification span {
    top: 8px; }
  .menu_section .navbar-default .profile-img {
    margin: 8px auto !important; }

  .fixed-menu .navigation-container {
    margin-top: 65px;
    padding: 8px 16px; }

  .navigation-container .slick-list {
    overflow: hidden; }
  .navigation-container .slick-arrow.arrow-right {
    right: 8px;
    padding: 0; }
  .navigation-container .slick-arrow.arrow-left {
    left: 8px;
    padding: 0; }
  .navigation-container .slide_pager.slick-current span {
    margin-top: 10px; }

  .fixed-menu .navigation-container .slide_pager.slick-current span {
    margin-top: 0; }

  .map-container {
    width: 26%; } }
@media (max-width: 435px) {
  .footer .footer_ul li:before {
    padding: 0; }
  .footer .footer_ul li a {
    font-size: 12px; }
  .footer .copyright {
    font-size: 10px; }

  .main_header .top_buttons .btn {
    width: 100px; }

  .note-menu .add-button:hover {
    left: -12px;
    transition: none; }
  .note-menu .close-button {
    left: -15px;
    top: 0;
    transition: none; }

  .note .note-icon {
    left: -13px; }

  .navigation-container .scroll-note {
    padding: 24px 8px; }

  .modal-dialog {
    width: 95% !important; }

  .main_header .container {
    padding-top: 70px; }
    .main_header .container .title-contetn h1 {
      line-height: 1; }
    .main_header .container .title-contetn .name {
      text-align: center; }
      .main_header .container .title-contetn .name span {
        margin-right: 0; }
    .main_header .container .title-contetn .date {
      text-align: center; }
      .main_header .container .title-contetn .date span {
        margin-left: 0; } }
@media (max-width: 375px) {
  .note-menu .group-item {
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
