[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
  display: none !important;
}

// Colors
$color_notif: rgb(242, 91, 83);
$color_notif_strong: rgb(234, 77, 67);
$color_of_dot: rgba(255, 255, 255, 0.302);
$color_of_text: rgba(85, 85, 96, 0.702);

// Mixins
@mixin transition($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
@font-face {
  font-family: "Open Sans Light";
  src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(fonts/OpenSans-Regular.ttf);
}

html * {
  letter-spacing: 1px;
  font-family: "Open Sans Light";
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

.menu_section {
  letter-spacing: 2px;
  font-weight: 100;
  position: absolute;
  width: 100%;
  z-index: 30;
  .container {
    padding: 0;
  }
  .navbar-default {
    background: transparent;
    border: 0;
    box-shadow: none;
    .navbar-collapse, .navbar-form {
      text-transform: uppercase;
    }
    .navbar-collapse {
      padding-top: 8px;
    }
    .navbar-nav {
      >li {
        height: 40px;
        margin: 0 8px;
        >a {
          color: #fff !important;
          height: 100%;
          padding: 9px;
          &:hover {
            text-decoration: underline;
          }
          &:focus {
            outline: none;
          }
          &.profile-img {
            padding: 0;
          }
        }
      }
    }
    .navbar-brand {
      margin-right: 16px;
    }
    .container-fluid {
      padding: 24px 8px 24px 4px;
      max-width: 1200px;
    }
    .navbar-search {
      margin-top: 0;
      ::-webkit-input-placeholder {
        color: #fff;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }
      ::-moz-placeholder {  /* Firefox 19+ */
        color: #fff;
      }
      :-ms-input-placeholder {
        color: #fff;
      }
      .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        width: 250px;
        padding-left: 0;
        padding-bottom: 0;
        font-size: 14px;
        padding-top: 2px;
      }
      .input-group-addon {
        background: none;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 0;
        position: absolute;
        right: 0;
        .icon-search {
          background-image: url('images/search.png');
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          margin-top: 6px;
        }
      }
    }
    .navbar-right {
      .dropdown-menu {
        background-color: #f6f6f6;
        border-radius: 10px;
        border: none;
      }
    }
    .create_trip {
      background-color: $color_notif;
      border-radius: 40px;
      text-align: center;
    }
    .notification {
      position: relative;
      i {
        font-size: 22px;
      }
      span {
        position: absolute;
        top: -4px;
        right: -4px;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $color_notif;
        padding-top: 2px;
        text-align: center;
      }
    }
    &.navbar-fixed-top {
      background-image: url("images/header_main.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
    .dropdown-menu {
      .notification {
        span {
          top: 2px;
          right: 8px;
        }
      }
    }
  }
  .navbar-brand {
    color: #fff;
    span {
      text-transform: uppercase;
    }
    > img {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
  a {
    padding: 0 !important;
  }
}

.main_header {
  letter-spacing: 2px;
  height: 412px;
  background-image: url("images/header_main.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .container {
    padding-top: 98px;
    position: relative;
    height: 100%;
  }
  .title-table {
    display: table;
    height: 90%;
    margin: auto;
  }
  .title-contetn {
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    max-height: 150px;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 45px;
    color: #fff;
    margin-bottom: 4px;
  }
  .short_info {
    color: #fff;
    .name {
      text-align: right;
      min-height: 40px;
      span {
        margin-right: -20%;
        vertical-align: -webkit-baseline-middle;
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
    }
    .date {
      text-align: left;
      min-height: 40px;
      span {
        margin-left: -20%;
        vertical-align: -webkit-baseline-middle;
      }
    }
  }
  .secondary_info {
    list-style: none;
    margin-top: 8px;
    padding-left: 0;
    li {
      display: inline-block;
      &:before{
        content:'\2022';
        padding: 0 8px;
        color: $color_of_dot;
      }
      &:first-child {
        &:before{content:initial; padding: 0;}
      }
      a {
        font-size: 18px;
        color: $color_notif;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .top_buttons {
    position: absolute;
    bottom: -36px;
    width: 100%;
    margin-left: -15px;
    .btn {
      width: 120px;
      box-shadow: 0px 3px 4px 0px rgba(155, 155, 155, 0.14);
      height: 72px;
      border-radius: 8px;
      color: #fff;
      background-color: $color_notif;
      text-transform: uppercase;
      font-weight: 100;
      &.active {
        background-color: #fff;
        color: $color_notif;
        z-index: 0;
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        z-index: 0;
      }
      &.btn-middle {
        background-color: $color_notif_strong;
      }
      span {
        display: block;
        font-size: 24px;
      }
    }
  }
}

.content {
  min-height: 100%;
  margin-bottom: -60px;
  &:after {
    content: "";
    display: block;
  }
  .caption {
    width: 100%;
    font-size: 18px;
    color: $color_of_text;
    max-width: 772px;
    margin: auto;
    margin-top: 86px;
    margin-bottom: 56px;
  }
  .slider-for {
    .slick-slide {
      padding-left: 30px;
    }
  }
  .slide-content {
    border-left: 1px solid rgb(235, 235, 235);
  }
}

.navigation-container {
  background-color: rgb(246, 246, 246);
  height: 90px;
  list-style: none;
  padding: 8px 40px;
  z-index: 29;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  .slide_pager {
    text-align: center;
    height: 100%;
    span {
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 50%;
      background-color: $color_notif;
      overflow: hidden;
      @include transition(.3s);
      margin-top: 32px;
      font-size: 18px;
      line-height: 1;
      padding-top: 5px;
    }
    label {
      display: none;
      text-transform: uppercase;
      color: $color_notif;
      overflow: hidden;
      @include transition(.3s);
    }
    &:hover {
      span {
        border: 2px solid $color_notif;
        background-color: transparent;
        color: $color_notif;
        width:52px;
        height: 52px;
        margin-top: 0;
      }
      label {
        display: block;
      }
    }
    &.slick-current {
      span {
        background-color: $color_notif;
        width:52px;
        height: 52px;
        color: #fff;
        margin-top: 0;
        font-weight: 100;
      }
      label {
        display: block;
      }
      &:hover {
        span {
          border: 0;
        }
        label {
          display: block;
        }
      }
    }
  }
  .slick-track, .slick-list {
    height: 100%;
  }
  .slick-slide {
    &:focus {
      outline: none;
    }
  }
}

.navigation-container {
  position: relative;
  .scroll-note {
    position: absolute;
    top: 0;
    z-index: 30;
    color: $color_notif;
    font-size: 36px;
    padding: 24px;
    cursor: pointer;
    &.arrow-left {
      left: 0;
    }
    &.arrow-right {
      right: 0;
    }
  }
}

.slick-slide {
  outline: none;
}

.map-container {
  height: 100%;
  width: 28%;
  right: 0;
  top: 550px;
  padding-top: 170px;
  position: absolute;
  .btn-hide-map {
    position: absolute;
    z-index: 99;
    right: 0;
    width: 45px;
    height: 40px;
    background-color: rgb( 0, 0, 0 );
    opacity: 0.6;
    font-size: 28px;
    border: 0;
    i {
      color: #fff;
      vertical-align: text-top;
    };
    &:focus {
      outline: none;
    }
  }
  .map {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 14px 0px rgba(155, 155, 155, 0.5);
  }
}
.note-menu {
  padding: 0 30px;
  position: relative;
  margin: 32px 0;
  cursor: pointer;
  .add-button {
    position: absolute;
    color: #b4b4b4;
    border-radius: 50%;
    top: 1px;
    background-color:rgb( 180, 180, 180 );
    left: -12px;
    width: 22px;
    height: 22px;
    padding: 5px;
    line-height: 0.5;
    color: #fff;
    font-size: 22px;
    transition: all .3s, transform 1s;
  }
  .hovered_add_button {
    background-color: $color_notif;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -7px;
    font-size: 32px;
    padding: 11px;
  }
  .close-button {
    transform: rotate(135deg);
    color:  #fff;
    position: absolute;
    background-color: $color_notif;
    left: -22px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    top: -7px;
    border-radius: 50%;
    padding: 10px;
    line-height: 0.5;
    @include transition(1s);
  }
  .node-menu-item {
    text-transform: uppercase;
    color: $color_of_text;
    height: 40px;
    display: inline-block;
    margin: 0 8px;
    .type_marker {
      background-image: url('images/icon_marker.png');
    }
    .type_photo {
      background-image: url('images/grey_icon_photo.png');
    }
    .type_note {
      background-image: url('images/note_icon.png');
    }
    .node-menu-icon {
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 8px;
    }
    .node-menu-text {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    &:hover {
      color: $color_notif;
      .type_marker {
        background-image: url('images/red_icon_marker.png');
      }
      .type_photo {
        background-image: url('images/red_icon_photo.png');
      }
      .type_note {
        background-image: url('images/red_note_icon.png');
      }
    }
  }
  .check-in-input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
    outline: none;
    border: none;
    padding-left: 16px;
  }
  .chekin-inputs {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 40px;
    margin: 0 15px;
    .input-group {
      display: inline-block;
      border-bottom: 1px solid $color_of_text;
      position: relative;
      width: 100%;
      input {
        border: none;
        height: 30px;
        width: 90%;
        &:focus {
          outline:none;
        }
      }
      i {
        font-size: 20px;
        color: rgba(85, 85, 96, 0.702);
        vertical-align: middle;
        position: absolute;
        right: 0;
        bottom: 2px;
      }
      &:hover {
        color: $color_notif;
        i {
          color: $color_notif;
        }
      }
    }
  }
  .group-item {
    text-align: center;
    max-width: 450px;
  }
}

.base {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 251px;
  top: 189px;
  width: 463px;
  height: 39px;
  z-index: 1231;
}

.note-element {
  margin-bottom: 30px;
}

.note-coordinates {
  color: $color_of_text;
  i {
    font-size: 20px;
  }
}

.comment {
  margin-bottom: 30px;
}

.comment-aria {
  textarea {
    border: 0;
    outline: 0;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: 1px solid rgb( 217, 217, 220 );
    padding-bottom: 4px;
    color: $color_of_text;
    padding: 0;
    &:focus {
      border-color: rgb( 217, 217, 220 );
      outline: 0;
    }
  }
}
.comment-list {
  margin-top: 30px;
  .profile-img {
    width: 50px;
    height: 50px;
  }
}

.comment-author {
  font-weight: bold;
}

.comment-time {
  color: $color_of_text;
  position: absolute;
  right: 40px;
  top: 4px;
}

.marker {
  background-color: $color_notif_strong;
  &.active {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $color_notif_strong;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $color_notif_strong;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.note-comments {
  .likes, .comments {
    color: $color_notif;
    cursor: pointer;
    background-image: url('images/heart-o.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-position-y:center;
    font-size: 20px;
    padding-right: 16px;
    span {
      margin-left: 18px;
      font-size: 18px;
      color: $color_of_text;
      padding-left: 5px;
    }
    &.active {
      background-image: url('images/heart.png');
    }
  }
  .add-comment {
    margin-top: 8px;
    .btn {
      margin-top: 8px;
      margin-left: 8px;
    }
  }
}

.note-icon {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  left: -18px;
  top: -6px;
  padding: 8px 0;
  border-radius: 50%;
  background-color: $color_notif;
  padding: 8px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  div {
    &.fa-map-marker {
      padding: 8px 12px;
    }
  }
}

.note {
  padding: 0 30px;
  position: relative;
  margin-bottom: 60px;
  .note-marker {
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    background-position-y: center;
  }
}

.note-caption {
  color: $color_of_text;
}

.note-place-name {
  position: relative;
}

.note-place-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.note-place-subtitle {
  color: $color_of_text;
  padding-bottom: 8px;
  border-bottom: 2px solid $color_notif_strong;
}

.note-place-rating {
  position: absolute;
  right: 0;
  top: 0;
  list-style: none;
  float: right;
  li {
    display: inline-block;
    font-size: 20px;
    color: $color_notif_strong;
    &:first-child {
      color: $color_of_text;
      font-size: 18px;
      margin-right: 8px;
    }
  }
}

.note-photos {
  margin-right: -30px;
  margin-left: -40px;
  background-color: #fff;
  .imgs-grid {
    max-width: 100%;
  }
  .image-wrap {
    border-radius: 16px;
    margin: 2px;
    img {
      border-radius: 16px;
    }
  }
}

.imgs-grid {
  .imgs-grid-image {
    .view-all {
      .view-all-text {
        font-size: 40px;
        letter-spacing: 4px;
      }
    }
  }
}


.btn-group {
  &.note-options {
    float: right;
    .btn {
      background: none !important;
      border: 0 !important;
      box-shadow: none !important;
      padding: 0;
    }
    .fa {
      font-size: 25px;
      color: $color_of_text;
      @include transition(.3s);
    }
    &.open {
      .fa {
        transform: rotate(180deg);
      }
    }
  }
}


.footer {
  .footer_ul {
    cursor: pointer;
    padding-left: 0;
    li {
      display: inline-block;
      &:before{
        content:'\2022';
        padding: 0 8px;
        color: $color_notif;
        font-size: 8px;
        vertical-align: middle;
      }
      &:first-child {
        &:before{content:initial; padding: 0;}
      }
      a {
        font-weight: 200;
        color: $color_of_text;
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    color: $color_of_text;
    text-transform: capitalize;
  }
}
.footer, .content:after {
  height: 60px;
}

.fixed-menu {
  .navigation-container {
    position: fixed;
    margin-top: 98px;
    top: 0;
    height: 70px;
    .scroll-note {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .slick-list {
      overflow: visible;
    }
    .slide_pager {
      span {
        margin-top: 25px;

      }
      &:hover {
        span {
          margin-top: 0;
        }
        label {
          margin: auto;
          margin-top: 4px;
          border-radius: 20px;
          background-color: rgb(64, 71, 82);
          width: 161px;
          height: 34px;
          font-size: 18px;
          color: rgb(255, 255, 255);
          line-height: 1.778;
        }
      }
    }
    .slick-current {
      span {
        margin-top: 0;
      }
      label {
        display: none;
      }
    }
  }
  .map-container {
    position: fixed;
    top: 0;
  }
  .content {
    padding-top: 67px;
  }
}

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.check-in-modal {
  .modal-dialog {
    border-radius: 10px;
    box-shadow: -2.605px 14.772px 91.67px 11.33px rgba(9, 23, 59, 0.4);
    width: 464px;
    overflow: visible;
  }
  button {
    &:focus {
      outline: none;
    }
  }
  .modal-header {
    padding: 0 30px;
    padding-top: 24px;
    border: 0;
    .close {
      margin-top: -8px;
      margin-right: -8px;
      font-size: 32px;
      color: $color_notif;
      opacity: 1;
      span {
        font-weight: 100;
      }
    }
    .modal-title {
      font-size: 22px;
    }
  }
  .modal-body {
    padding: 0 30px;
    padding-top: 12px;
    .checkin-place {
      font-size: 16px;
      letter-spacing: 2px;
      span {
        color: $color_notif;
      }
    }
    .timepicker {
      &:focus {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .checkin-calendar {
      .input-group {
        .uib-datepicker-popup {
          .uib-datepicker{
            .btn-default {
              border: none;
              border-radius: 0;
              background-image: none;
              border-color:transparent;
            }
          }
          .btn-group {
            .btn-danger {
              background-image:   none;
              border: none;
              background-color: $color_notif;
            }
            .btn-info {
              background-image:   none;
              border: none;
            }
            &:hover, :focus {
              border: none;
            }
          }
          .btn-success {
            background-image:   none;
            border: none;
          }
        }
      }
    }
    .ui-timepicker-input {
      cursor: pointer;
    }
    .ui-timepicker-wrapper {
      display: block;
      position: absolute;
      left: 0;
      width: 87%;
      border: 1px solid rgb(193, 193, 193);
      border-top: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #fff;
      list-style: none;
      max-height: 100px;
      overflow-y: scroll;
      .ui-timepicker-list {
        padding: 0 13px;
        .ui-timepicker-am {
          list-style: none;
        }
      }
    }
    .checkin-title {
      font-size: 18px;
      margin-bottom: 7px;
      span {
        font-weight: bold;
      }
    }
    .checkin-rating {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        font-size: 20px;
        color: $color_notif_strong;
        cursor: pointer;
      }
    }
  }
  .modal-footer {
    padding: 0;
    .btn-next {
      width: 100%;
      border-radius: 0;
      height: 60px;
      background-color: $color_notif;
      color: #fff;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 100;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
  .modal-map-container {
    height: 150px;
    margin: 0 -30px;
  }
}

// calendar
.uib-button-bar {
  display: none;
}

.checkin-calendar {
  .input-group-btn {
    .btn {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .fa-angle-down {
    color:  $color_notif;
    font-size: 24px;
  }
  .form-control {
    border: none;
    box-shadow: none;
    color: $color_notif;
    text-align: center;
    font-size: 18px;
  }
  .bootstrap-timepicker {
    color: $color_notif;
    .fa-angle-down {
      position: absolute;
      right: 30px;
      top: 6px;
    }
  }
}

.ui-timepicker-wrapper {
  text-align: center;
  cursor: pointer;
}
.timepicker {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  width: 90%;
}

.uib-datepicker-popup {
  * {
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
  .btn-default:focus, .btn-default:hover {
    background-color: $color_notif;
    color: #fff;
  }
  .text-info, .text-muted {
    color: #fff;
  }
  .btn.btn-default.btn-info {
    background-color: $color_notif;
    color: #fff;
  }
  .btn-info.active, .btn-info:active {
    background-color: $color_notif_strong;
    color: #fff;
  }

}


// Medias

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 10px;
  }
}

@media (max-width: 1250px) {
  .menu_section {
    .navbar-default {
      .navbar-nav {
        > li {
          margin: 0 4px;
        }
      }
      .navbar-brand {
        margin-right: 8px;
      }
      .navbar-search {
        .input-group {
          width: 100%;
        }
        .form-control {
          width: 100%;
        }
        .input-group-addon {
          right: 14px;
        }
      }
      .notification {
        span {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    .slider-for {
      .slide-content {
        margin-left: 10px;
      }
    }
  }
  .note-place-rating {
    li:first-child {
      display: block;
      text-align: right;
    }
  }
  .comment-author {
    height: 40px;
  }
  .comment-time {
    width: 134px;
    top: 25px;
    right: 10px;
    text-align: right;
  }
  .note-menu {
    .chekin-inputs {
      height: auto;
      padding: 15px 0;
    }
  }
  .menu_section {
    .navbar-default {
      .navbar-collapse {
        padding-right: 24px;
        background-color: $color_of_text;
      }
      .container-fluid {
        padding: 8px 15px;
      }
      .notification {
        span {
          top: 8px;
        }
      }
      .profile-img {
        margin: 8px auto !important;
      }
    }
  }
  .fixed-menu {
    .navigation-container {
      margin-top: 65px;
      padding: 8px 16px;
    }
  }
  .navigation-container {
    .slick-list {
      overflow: hidden;
    }
    .slick-arrow {
      &.arrow-right {
        right: 8px;
        padding: 0;
      }
      &.arrow-left {
        left: 8px;
        padding: 0;
      }
    }
    .slide_pager {
      &.slick-current {
        span {
          margin-top: 10px;
        }
      }
    }
  }
  .fixed-menu {
    .navigation-container {
      .slide_pager {
        &.slick-current {
          span {
            margin-top: 0;
          }
        }
      }
    }
  }
  .map-container {
    width: 26%;
  }

}


@media (max-width: 435px) {
  .footer {
    .footer_ul {
      li {
        &:before {
          padding: 0;
        }
        a {
          font-size: 12px;
        }
      }
    }
    .copyright {
      font-size: 10px;
    }
  }
  .main_header {
    .top_buttons {
      .btn {
        width: 100px;
      }
    }
  }
  .note-menu {
    .add-button {
      &:hover {
        left: -12px;
        transition: none;
      }
    }
    .close-button {
      left: -15px;
      top: 0;
      transition: none;
    }
    .group-item {}
  }
  .note {
    .note-icon {
      left: -13px;
    }
  }
  .navigation-container {
    .scroll-note {
      padding: 24px 8px;
    }
  }
  .modal-dialog {
    width: 95% !important;
  }
  .main_header{
    .container {
      padding-top: 70px;
      .title-contetn {
        h1 {
          line-height: 1;
        }
        .name {
          text-align: center;
          span {
            margin-right: 0;
          }
        }
        .date {
          text-align: center;
          span {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .note-menu {
    .group-item {
      text-align: left;
    }
  }
}  