[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
  display: none !important;
}

// Colors
$color_notif: rgb(242, 91, 83);
$color_notif_strong: rgb(234, 77, 67);
$color_of_dot: rgba(255, 255, 255, 0.302);
$color_of_text: rgba(85, 85, 96, 0.702);

// Mixins
@mixin transition($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
@font-face {
  font-family: "Open Sans Light";
  src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(fonts/OpenSans-Regular.ttf);
}

html * {
  letter-spacing: 1px;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

.menu_section {
  letter-spacing: 2px;
  font-weight: 100;
  position: absolute;
  width: 100%;
  z-index: 30;
  .container {
    padding: 0;
  }
  .navbar-default {
    background: transparent;
    border: 0;
    box-shadow: none;
    .navbar-collapse, .navbar-form {
      text-transform: uppercase;
    }
    .navbar-collapse {
      padding-top: 8px;
    }
    .navbar-nav {
      >li {
        height: 40px;
        margin: 0 8px;
        >a {
          color: #fff !important;
          height: 100%;
          padding: 9px;
          &:hover {
            text-decoration: underline;
          }
          &:focus {
            outline: none;
          }
          &.profile-img {
            padding: 0;
          }
        }
      }
    }
    .navbar-brand {
      margin-right: 16px;
    }
    .container-fluid {
      padding: 24px 8px 24px 4px;
      max-width: 1200px;
    }
    .navbar-search {
      margin-top: 0;
      ::-webkit-input-placeholder {
        color: #fff;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }
      ::-moz-placeholder {  /* Firefox 19+ */
        color: #fff;
      }
      :-ms-input-placeholder {
        color: #fff;
      }
      .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        width: 250px;
        padding-left: 0;
        padding-bottom: 0;
        font-size: 14px;
        padding-top: 2px;
      }
      .input-group-addon {
        background: none;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 0;
        position: absolute;
        right: 0;
        .icon-search {
          background-image: url('images/search.png');
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          margin-top: 6px;
        }
      }
    }
    .navbar-right {
      .dropdown-menu {
        background-color: #f6f6f6;
        border-radius: 10px;
        border: none;
      }
    }
    .create_trip {
      background-color: $color_notif;
      border-radius: 40px;
      text-align: center;
    }
    .notification {
      position: relative;
      i {
        font-size: 22px;
      }
      span {
        position: absolute;
        top: -4px;
        right: -4px;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $color_notif;
        padding-top: 2px;
        text-align: center;
      }
    }
    &.navbar-fixed-top {
      background-image: url("images/header_main.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
    .dropdown-menu {
      .notification {
        span {
          top: 2px;
          right: 8px;
        }
      }
    }
  }
  .navbar-brand {
    color: #fff;
    span {
      text-transform: uppercase;
    }
    > img {
      display: inline-block;
      margin-right: 8px;
    }
  }
}

.note-photos {
  margin-top: 32px;
  background-color: #fff;
  margin-left: -11px;
  margin-right: -11px;
  .imgs-grid-image {
    max-width: 31.333333%;
    margin: 11px;
  }
  .image-wrap {
    border-radius: 16px;
    margin: 2px;
    max-height: 240px;
    // background-color: rgb( 255, 100, 91 );
  }
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
  a {
    padding: 0 !important;
  }
}

.main_header {
  letter-spacing: 2px;
  height: 412px;
  background-image: url("images/header_main.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .container {
    padding-top: 98px;
    position: relative;
    height: 100%;
  }
  .title-table {
    display: table;
    height: 90%;
    margin: auto;
  }
  .title-contetn {
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 45px;
    color: #fff;
    margin-bottom: 4px;
  }
  .short_info {
    color: #fff;
    .name {
      text-align: right;
      min-height: 40px;
      span {
        margin-right: -20%;
        vertical-align: -webkit-baseline-middle;
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
    }
    .date {
      text-align: left;
      min-height: 40px;
      span {
        margin-left: -20%;
        vertical-align: -webkit-baseline-middle;
      }
    }
  }
  .secondary_info {
    list-style: none;
    margin-top: 8px;
    padding-left: 0;
    li {
      display: inline-block;
      &:before{
        content:'\2022';
        padding: 0 8px;
        color: $color_of_dot;
      }
      &:first-child {
        &:before{content:initial; padding: 0;}
      }
      a {
        font-size: 18px;
        color: $color_notif;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .top_buttons {
    position: absolute;
    bottom: -36px;
    width: 100%;
    margin-left: -15px;
    .btn {
      width: 120px;
      box-shadow: 0 3px 4px 0 rgba(155, 155, 155, 0.14);
      height: 72px;
      border-radius: 8px;
      color: #fff;
      background-color: $color_notif;
      text-transform: uppercase;
      font-weight: 100;
      &.active {
        background-color: #fff;
        color: $color_notif;
        z-index: 0;
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        z-index: 0;
      }
      &.btn-middle {
        background-color: $color_notif_strong;
      }
      span {
        display: block;
        font-size: 24px;
      }
    }
  }
}

.content {
  min-height: 100%;
  margin-bottom: -60px;
  margin-top: 70px;
  &:after {
    content: "";
    display: block;
  }
  .caption {
    width: 100%;
    font-size: 18px;
    color: $color_of_text;
    max-width: 772px;
    margin: auto;
    margin-top: 86px;
    margin-bottom: 56px;
  }
  .slider-for {
    .slick-slide {
      padding-left: 30px;
    }
  }
}

.navigation-container {
  background-color: rgb(246, 246, 246);
  position: relative;
  height: 90px;
  list-style: none;
  padding: 8px 20px;
  z-index: 29;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  .nav-city {
    max-width:110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    position: relative;
    padding: 0 !important;
    padding-right: 10px !important;
  }
  .slider {
    margin: 15px 4px;
    .slick-list {
      margin-left: 50px;
      .slick-track {
        .slide {
          div {
            padding-left: 10px;
          }
          color: $color_notif;
          font-size: 11px;
        }
        .slick-center {
          div{
            font-weight: 600;
          }
        }
      }
    }
    &:after, &:before {
      background: #f6f6f6;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 10;
    }
    &:after {
      right: -2px;
      width: 86px;
    }
    &:before {
      left: 0;
      width: 105px;
    }
  }

  .county-visibility {
    opacity: 0;
  }
  .point{
    position: relative;
    &:before {
      content:'\2022';
      color: $color_notif;
      position: absolute;
      left: -45px;
      bottom: -8px;
      font-size: 30px;
    }
  }

  .country-is-shown {
    .county-visibility {
      opacity: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .slide-border {
      border-left: 3px solid rgb( 236, 236, 236 );
    }
    .nav-city {
      &:before {
        display: none;
      }
    }
  }



  .scroll-note {
    position: absolute;
    bottom: -16px;
    z-index: 30;
    color: $color_notif;
    font-size: 36px;
    padding: 24px;
    cursor: pointer;
    &.arrow-left {
      left: 0;
    }
    &.arrow-right {
      right: 35px;
    }
  }
  .dpd-menu {
    right: 25px;
    top: 16px;
    transform: rotate(135deg);
    position: absolute;
    z-index: 30;
    color: $color_notif;
    font-size: 36px;
    cursor: pointer;
    span {
      font-weight: 600;
    }

  }
  .down-arrow{
    top: 22px;
    transform: none;
    font-weight: 100;
  }
  .dropdown-menu {
    right: 0;
    left: 800px;
    color: $color_notif;
    .dpd-country {
      display: inline-block;
      font-size: 11px;
      padding: 8px 32px;
      .point {
        padding:0 20px;
        &:before{
          left: -20px;
        }
      }
    }
  }
  .places {
    margin: 8px 40px;
    line-height: 1.7;
    color: $color_notif;
    div{
      display: inline-block;
    }
    .place {
      padding: 0 16px;
    }
    ul {
      padding-left: 0;
      font-size: 16px;
      li {
        display: inline-block;
        &:before{
          content:'\2022';
          padding: 0 8px;
          color: $color_notif;
          vertical-align: middle;
        }
        &:first-child {
          &:before{content:initial; padding: 0;}
        }
        div {
          display: block;
        }
      }
    }
    .line {
      display: inline-block;
      width: 2px;
      height: 30px;
      background-color: $color_of_text;

    }
  }
}

.slick-slide {
  outline: none;
}

.map-container {
  height: 100%;
  width: 28%;
  right: 0;
  top: 550px;
  padding-top: 170px;
  position: absolute;
  .btn-hide-map {
    position: absolute;
    z-index: 99;
    right: 0;
    width: 45px;
    height: 40px;
    background-color: rgb( 0, 0, 0 );
    opacity: 0.6;
    font-size: 28px;
    border: 0;
    i {
      color: #fff;
      vertical-align: text-top;
    };
    &:focus {
      outline: none;
    }
  }
  .map {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 14px 0 rgba(155, 155, 155, 0.5);
  }
}
.base {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 251px;
  top: 189px;
  width: 463px;
  height: 39px;
  z-index: 1231;
}
.city {
  font-size: 24px;
  font-family: "OpenSans", sans-serif;
  color: $color_notif;
  text-transform: uppercase;
  margin-top: 24px;
  img {
    width: 35px;
    margin-top: -7px;
  }
  span {
    font-weight: 600;
  }
}
.note-caption {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: $color_of_text;
  display: inline-block;
  margin: 24px 8px;
  text-transform: uppercase;
}
.note-element {
  border: 1px solid rgb( 222, 225, 218 );
  border-radius: 10px;
  .element-content {
    .element-header {
      position:relative;
      color: #fff;
      min-height: 200px;
      padding: 8px;
      border-radius: 10px;
      background-color: rgb(136, 54, 50);
      .note-image{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        height: 100%;
        opacity: 0.6;
      }
      .header_text{
        position: relative;
        div {
          margin: 4px 0;
          font-size: 14px;
          font-family: "OpenSans", sans-serif;
        }
        .element-form {
          text-align: left;
        }
        .element-pay {
          text-align: left;
        }
        .book_now {
          min-width: 125px;
          text-transform: uppercase;
          background-color: $color_notif;
          margin-top: 8px;
          border-radius: 20px;
        }
        .category {
          margin-top: 30px;
          margin-bottom: 0;
          font-size: 15px;
        }
        .place_name {
          margin-top: 0;
          font-size: 18px;
        }
        .checkin-rating {
          padding: 0;
          font-size: 16px;
          margin: 0;
          .fa-star {
            color: rgb( 255, 0, 0 );
          }
        }
        .location {
          margin-top: 22px;
          color: $color_notif;
        }
      }
    }
    .element-rating {
      padding: 8px 0;
      .rating {
        display: inline-block;
        min-width: 33.2px;
        border: 1px solid rgb( 222, 225, 218 );
        border-radius: 5px;
      }
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;
      }
    }
    .soufians_rating {
      padding: 0 8px;
      .checkin-rating {
        padding-left: 8px;
        color: $color_of_text;
        font-size: 15px;
        margin-bottom: 0;
        .fa-star {
          color: rgb( 255, 0, 0 );
        }
      }
    }
  }
  .note-comment {
    padding: 0 8px;
    margin-top: 15px;
    .comment-title {
      font-weight: 600;
    }
  }
  .note-footer {
    color: $color_notif;
    padding: 8px 0;
    .tag {
      margin: 0 8px;
      cursor: pointer;
      padding-left: 0;
      li {
        display: inline-block;
        &:before{
          content:'\2022';
          padding: 0 8px;
          color: $color_notif;
          font-size: 8px;
          vertical-align: middle;
        }
        &:first-child {
          &:before{content:initial; padding: 0;}
        }
      }
    }
  }
}

.gm-style-cc, .gmnoprint {
  display: none;
}

.marker {
  background-color: $color_notif_strong;
  &.active {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $color_notif_strong;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $color_notif_strong;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.fixed-menu {
  .navigation-container {
    position: fixed;
    margin-top: 98px;
    top: 0;
    height: 70px;
    .slider {
      margin: 4px 0;
    }
    .scroll-note {
      bottom: -20px;
      padding-top: 4px;
    }
    .dpd-menu {
      top: 9px;
    }
    .down-arrow {
      top: 15px
    }
  }
  .map-container {
    position: fixed;
    top: 0;
  }
  .content {
    padding-top: 67px;
  }
}

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.check-in-modal {
  .modal-dialog {
    border-radius: 10px;
    box-shadow: -2.605px 14.772px 91.67px 11.33px rgba(9, 23, 59, 0.4);
    overflow: visible;
  }
  button {
    &:focus {
      outline: none;
    }
  }
  .modal-header {
    padding: 0 30px;
    padding-top: 24px;
    border: 0;
    .close {
      margin-top: -8px;
      margin-right: -8px;
      font-size: 32px;
      color: $color_notif;
      opacity: 1;
      span {
        font-weight: 100;
      }
    }
    .modal-title {
      font-size: 22px;
    }
  }
  .modal-body {
    padding: 0 30px;
    padding-top: 12px;
    .checkin-place {
      font-size: 16px;
      letter-spacing: 2px;
      span {
        color: $color_notif;
      }
    }
    .timepicker {
      &:focus {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .checkin-calendar {
      .input-group {
        .uib-datepicker-popup {
          .uib-datepicker{
            .btn-default {
              border: none;
              border-radius: 0;
              background-image: none;
              border-color: transparent;
            }
          }
          .btn-group {
            .btn-danger {
              background-image:   none;
              border: none;
              background-color: $color_notif;
            }
            .btn-info {
              background-image:   none;
              border: none;
            }
            &:hover, :focus {
              border: none;
            }
          }
          .btn-success {
            background-image:   none;
            border: none;
          }
        }
      }
    }
    .ui-timepicker-input {
      cursor: pointer;
    }
    .ui-timepicker-wrapper {
      display: block;
      position: absolute;
      left: 0;
      width: 87%;
      border: 1px solid rgb(193, 193, 193);
      border-top: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #fff;
      list-style: none;
      max-height: 100px;
      overflow-y: scroll;
      .ui-timepicker-list {
        padding: 0 13px;
        .ui-timepicker-am {
          list-style: none;
        }
      }
    }
    .checkin-title {
      font-size: 18px;
      margin-bottom: 7px;
      span {
        font-weight: bold;
      }
    }
    .checkin-rating {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        font-size: 20px;
        color: $color_notif_strong;
        cursor: pointer;
      }
    }
  }
  .modal-footer {
    padding: 0;
    .btn-next {
      width: 100%;
      border-radius: 0;
      height: 60px;
      background-color: $color_notif;
      color: #fff;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 100;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
  .modal-map-container {
    height: 250px;
    margin: 0 -30px;
  }

  &--dynamic-height .modal-map-container {
    height: 60vh;
  }
}

// calendar
.uib-button-bar {
  display: none;
}

.checkin-calendar {
  .input-group-btn {
    .btn {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .fa-angle-down {
    color: $color_notif;
    font-size: 24px;
  }
  .form-control {
    border: none;
    box-shadow: none;
    color: $color_notif;
    text-align: center;
    font-size: 18px;
  }
  .bootstrap-timepicker {
    color: $color_notif;
    .fa-angle-down {
      position: absolute;
      right: 30px;
      top: 6px;
    }
  }
}

.ui-timepicker-wrapper {
  text-align: center;
  cursor: pointer;
}
.timepicker {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  width: 90%;
}

.uib-datepicker-popup {
  * {
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
  .btn-default:focus, .btn-default:hover {
    background-color: $color_notif;
    color: #fff;
  }
  .text-info, .text-muted {
    color: #fff;
  }
  .btn.btn-default.btn-info {
    background-color: $color_notif;
    color: #fff;
  }
  .btn-info.active, .btn-info:active {
    background-color: $color_notif_strong;
    color: #fff;
  }

}


// Medias

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 10px;
  }
}

@media (max-width: 1250px) {
  .dropdown-menu {
    left: 450px !important;
  }
  .menu_section {
    .navbar-default {
      .navbar-nav {
        > li {
          margin: 0 4px;
        }
      }
      .navbar-brand {
        margin-right: 8px;
      }
      .navbar-search {
        .input-group {
          width: 100%;
        }
        .form-control {
          width: 100%;
        }
        .input-group-addon {
          right: 14px;
        }
      }
      .notification {
        span {
          right: 0;
        }
      }
    }
  }
  .image-wrap {
    max-height: 196px !important;
  }
  .image-wrap .check-in-hover {
    bottom: 0;
    transition: bottom 200ms;
  }
}

@media (max-width: 768px) {
  .content {
    .slider-for {
      .slide-content {
        margin-left: 10px;
      }
    }
  }
  .dropdown-menu {
    left:350px !important;
  }
  .loader-page {
    top: 135px;
  }
  .slider {
    &:before {
      width:90px !important;
    }
  }
  .note-place-rating {
    li:first-child {
      display: block;
      text-align: right;
    }
  }
  .comment-author {
    height: 40px;
  }
  .comment-time {
    width: 134px;
    top: 25px;
    right: 10px;
    text-align: right;
  }
  .note-menu {
    .chekin-inputs {
      height: auto;
      padding: 15px 0;
    }
  }
  .menu_section {
    .navbar-default {
      .navbar-collapse {
        padding-right: 24px;
        background-color: $color_of_text;
      }
      .container-fluid {
        padding: 8px 15px;
      }
      .notification {
        span {
          top: 8px;
        }
      }
      .profile-img {
        margin: 8px auto !important;
      }
    }
  }
  .scroll-note {
    bottom:-18px;
  }
  .fixed-menu {
    .navigation-container {
      margin-top: 65px;
      padding: 8px 16px;
    }
  }
  .navigation-container {
    .slick-list {
      overflow: hidden;
      margin-left: 30px !important;
    }
    .slide_pager {
      &.slick-current {
        span {
          margin-top: 10px;
        }
      }
    }
  }
  .fixed-menu {
    .navigation-container {
      .slide_pager {
        &.slick-current {
          span {
            margin-top: 0;
          }
        }
      }
    }
  }
  .map-container {
    width: 26%;
  }
  .image-wrap {
    max-height: 150px !important;
  }
  .check-in-hover {
    padding: 16px 18px 19px 0 !important;
  }

  .check-in-hover__full-icon {
    right: 3px !important;
    top: 21px !important;
  }

}


@media (max-width: 436px) {
  .footer {
    .footer_ul {
      li {
        &:before {
          padding: 0;
        }
        a {
          font-size: 12px;
        }
      }
    }
    .copyright {
      font-size: 10px;
    }
  }
  .main_header {
    .top_buttons {
      .btn {
        width: 100px;
      }
    }
  }
  .note-menu {
    .add-button {
      &:hover {
        left: -12px;
        transition: none;
      }
    }
    .close-button {
      left: -15px;
      top: 0;
      transition: none;
    }
    .group-item {}
  }
  .note {
    .note-icon {
      left: -13px;
    }
  }
  .navigation-container {
    padding-left: 0 !important;
    .scroll-note {
      padding: 24px 25px;
    }
  }
  .slider:before {
    width: 68px !important;
  }
  .slick-list {
    margin-left: 0 !important;
  }
  .modal-dialog {
    width: 95% !important;
  }
  .dropdown-menu {
    left: 0 !important;
  }
  .fixed-menu {
    .slider:after {
      width: 80px !important;
    }
  }
  .main_header{
    .container {
      padding-top: 70px;
      .title-contetn {
        h1 {
          line-height: 1;
        }
        .name {
          text-align: center;
          span {
            margin-right: 0;
          }
        }
        .date {
          text-align: center;
          span {
            margin-left: 0;
          }
        }
      }
    }
  }
  .imgs-grid-image {
    display: block !important;
    margin: auto !important;
    width:100% !important;
    max-width: none !important;
  }
  .image-wrap {
    max-height: 240px !important;
  }
  .check-in-hover {
    padding: 13px 27px 19px !important;
  }
  .check-in-hover__full-icon {
    right: 28px !important;
    top: 19px !important;
  }
}

@media (max-width: 375px) {
  .note-menu {
    .group-item {
      text-align: left;
    }
  }
  .scroll-note {
    padding: 24px 25px !important;
  }
  .slick-list {
    margin-left: 65px !important;
  }
}

.image-wrap:hover .check-in-hover {
  bottom: 0;
  transition: bottom 200ms;
}
.check-in-hover {
  background: rgba(0, 0, 0, 0.3);
  bottom: -100%;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  padding: 13px 27px 19px;
  position: absolute;
  transition: bottom 300ms;
  width: 100%;
  z-index: 1;
}
.check-in-hover__address,
.check-in-hover__address:hover {
  color: #fff;
}
.check-in-hover__name {
  font-weight: bold;
}
.check-in-hover__full-icon {
  font-size: 20px;
  position: absolute;
  right: 28px;
  top: 19px;
}
.check-in-hover__title {
  margin: 0 0 14px;
}