[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
  display: none !important; }

@font-face {
  font-family: "Open Sans Light";
  src: url(fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: "Open Sans Regular";
  src: url(fonts/OpenSans-Regular.ttf); }
html * {
  letter-spacing: 1px;
  font-family: "Open Sans Light", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

.menu_section {
  letter-spacing: 2px;
  font-weight: 100;
  position: absolute;
  width: 100%;
  z-index: 30; }
  .menu_section .container {
    padding: 0; }
  .menu_section .navbar-default {
    background: transparent;
    border: 0;
    box-shadow: none; }
    .menu_section .navbar-default .navbar-collapse, .menu_section .navbar-default .navbar-form {
      text-transform: uppercase; }
    .menu_section .navbar-default .navbar-collapse {
      padding-top: 8px; }
    .menu_section .navbar-default .navbar-nav > li {
      height: 40px;
      margin: 0 8px; }
      .menu_section .navbar-default .navbar-nav > li > a {
        color: #fff !important;
        height: 100%;
        padding: 9px; }
        .menu_section .navbar-default .navbar-nav > li > a:hover {
          text-decoration: underline; }
        .menu_section .navbar-default .navbar-nav > li > a:focus {
          outline: none; }
        .menu_section .navbar-default .navbar-nav > li > a.profile-img {
          padding: 0; }
    .menu_section .navbar-default .navbar-brand {
      margin-right: 16px; }
    .menu_section .navbar-default .container-fluid {
      padding: 24px 8px 24px 4px;
      max-width: 1200px; }
    .menu_section .navbar-default .navbar-search {
      margin-top: 0; }
      .menu_section .navbar-default .navbar-search ::-webkit-input-placeholder {
        color: #fff; }
      .menu_section .navbar-default .navbar-search :-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
      .menu_section .navbar-default .navbar-search ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .menu_section .navbar-default .navbar-search :-ms-input-placeholder {
        color: #fff; }
      .menu_section .navbar-default .navbar-search .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        width: 250px;
        padding-left: 0;
        padding-bottom: 0;
        font-size: 14px;
        padding-top: 2px; }
      .menu_section .navbar-default .navbar-search .input-group-addon {
        background: none;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 0;
        position: absolute;
        right: 0; }
        .menu_section .navbar-default .navbar-search .input-group-addon .icon-search {
          background-image: url("images/search.png");
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          margin-top: 6px; }
    .menu_section .navbar-default .navbar-right .dropdown-menu {
      background-color: #f6f6f6;
      border-radius: 10px;
      border: none; }
    .menu_section .navbar-default .create_trip {
      background-color: #f25b53;
      border-radius: 40px;
      text-align: center; }
    .menu_section .navbar-default .notification {
      position: relative; }
      .menu_section .navbar-default .notification i {
        font-size: 22px; }
      .menu_section .navbar-default .notification span {
        position: absolute;
        top: -4px;
        right: -4px;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f25b53;
        padding-top: 2px;
        text-align: center; }
    .menu_section .navbar-default.navbar-fixed-top {
      background-image: url("images/header_main.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
    .menu_section .navbar-default .dropdown-menu .notification span {
      top: 2px;
      right: 8px; }
  .menu_section .navbar-brand {
    color: #fff; }
    .menu_section .navbar-brand span {
      text-transform: uppercase; }
    .menu_section .navbar-brand > img {
      display: inline-block;
      margin-right: 8px; }

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block; }
  .profile-img img {
    width: 100%;
    height: 100%; }
  .profile-img a {
    padding: 0 !important; }

.main_header {
  letter-spacing: 2px;
  height: 412px;
  background-image: url("images/header_main.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
  .main_header .container {
    padding-top: 98px;
    position: relative;
    height: 100%; }
  .main_header .title-table {
    display: table;
    height: 90%;
    margin: auto; }
  .main_header .title-contetn {
    display: table-cell;
    vertical-align: middle; }
  .main_header h1 {
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 45px;
    color: #fff;
    margin-bottom: 4px; }
  .main_header .short_info {
    color: #fff; }
    .main_header .short_info .name {
      text-align: right;
      min-height: 40px; }
      .main_header .short_info .name span {
        margin-right: -20%; }
    .main_header .short_info span {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px; }
    .main_header .short_info .date {
      text-align: left;
      min-height: 40px; }
      .main_header .short_info .date span {
        margin-left: -20%; }
  .main_header .secondary_info {
    list-style: none;
    margin-top: 8px;
    padding-left: 0; }
    .main_header .secondary_info li {
      display: inline-block; }
      .main_header .secondary_info li:before {
        content: '\2022';
        padding: 0 8px;
        color: rgba(255, 255, 255, 0.302); }
      .main_header .secondary_info li:first-child:before {
        content: initial;
        padding: 0; }
      .main_header .secondary_info li a {
        font-size: 18px;
        color: #f25b53; }
        .main_header .secondary_info li a:hover {
          cursor: pointer; }
  .main_header .top_buttons {
    position: absolute;
    bottom: -36px;
    width: 100%;
    margin-left: -15px; }
    .main_header .top_buttons .btn {
      width: 120px;
      box-shadow: 0 3px 4px 0 rgba(155, 155, 155, 0.14);
      height: 72px;
      border-radius: 8px;
      color: #fff;
      background-color: #f25b53;
      text-transform: uppercase;
      font-weight: 100; }
      .main_header .top_buttons .btn.active {
        background-color: #fff;
        color: #f25b53;
        z-index: 0; }
      .main_header .top_buttons .btn:focus {
        outline: 0; }
      .main_header .top_buttons .btn:hover {
        z-index: 0; }
      .main_header .top_buttons .btn.btn-middle {
        background-color: #ea4d43; }
      .main_header .top_buttons .btn span {
        display: block;
        font-size: 24px; }

.content {
  min-height: 100%;
  margin-bottom: -60px;
  margin-top: 70px; }
  .content:after {
    content: "";
    display: block; }
  .content .caption {
    width: 100%;
    font-size: 18px;
    color: rgba(85, 85, 96, 0.702);
    max-width: 772px;
    margin: auto;
    margin-top: 86px;
    margin-bottom: 56px; }
  .content .slider-for .slick-slide {
    padding-left: 30px; }
  .content .slide-content {
    border-left: 1px solid #ebebeb; }

.navigation-container {
  background-color: #f6f6f6;
  position: relative;
  height: 90px;
  list-style: none;
  padding: 8px 20px;
  z-index: 29;
  width: 100%; }
  .navigation-container:hover {
    cursor: pointer; }
  .navigation-container .nav-city {
    max-width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    position: relative;
    padding: 0 !important;
    padding-right: 10px !important; }
  .navigation-container .slider {
    margin: 15px 4px; }
    .navigation-container .slider .slick-list {
      margin-left: 50px; }
      .navigation-container .slider .slick-list .slick-track .slide {
        color: #f25b53;
        font-size: 11px; }
        .navigation-container .slider .slick-list .slick-track .slide div {
          padding: 0 10px; }
      .navigation-container .slider .slick-list .slick-track .slick-center div {
        font-weight: 600; }
    .navigation-container .slider:after, .navigation-container .slider:before {
      background: #f6f6f6;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 10; }
    .navigation-container .slider:after {
      right: -2px;
      width: 86px; }
    .navigation-container .slider:before {
      width: 105px;
      left: 0; }
  .navigation-container .county-visibility {
    opacity: 0; }
  .navigation-container .point {
    position: relative; }
    .navigation-container .point:before {
      content: '\2022';
      color: #f25b53;
      position: absolute;
      left: -45px;
      bottom: -8px;
      font-size: 30px; }
  .navigation-container .country-is-shown .county-visibility {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 1; }
  .navigation-container .country-is-shown .slide-border {
    border-left: 3px solid #ececec; }
  .navigation-container .country-is-shown .nav-city:before {
    display: none; }
  .navigation-container .scroll-note {
    position: absolute;
    bottom: -16px;
    z-index: 30;
    color: #f25b53;
    font-size: 36px;
    padding: 24px;
    cursor: pointer; }
    .navigation-container .scroll-note.arrow-left {
      left: 0; }
    .navigation-container .scroll-note.arrow-right {
      right: 20px; }
  .navigation-container .dpd-menu {
    right: 25px;
    top: 16px;
    transform: rotate(135deg);
    position: absolute;
    z-index: 30;
    color: #f25b53;
    font-size: 36px;
    cursor: pointer; }
    .navigation-container .dpd-menu span {
      font-weight: 600; }
  .navigation-container .down-arrow {
    top: 22px;
    transform: none;
    font-weight: 100; }
  .navigation-container .dropdown-menu {
    right: 0;
    left: 800px;
    color: #f25b53; }
    .navigation-container .dropdown-menu .dpd-country {
      display: inline-block;
      font-size: 11px;
      padding: 8px 32px; }
      .navigation-container .dropdown-menu .dpd-country .point {
        padding: 0 20px; }
        .navigation-container .dropdown-menu .dpd-country .point:before {
          left: -20px; }
  .navigation-container .places {
    margin: 8px 40px;
    line-height: 1.7;
    color: #f25b53; }
    .navigation-container .places div {
      display: inline-block; }
    .navigation-container .places .place {
      padding: 0 16px; }
    .navigation-container .places ul {
      padding-left: 0;
      font-size: 16px; }
      .navigation-container .places ul li {
        display: inline-block; }
        .navigation-container .places ul li:before {
          content: '\2022';
          padding: 0 8px;
          color: #f25b53;
          vertical-align: middle; }
        .navigation-container .places ul li:first-child:before {
          content: initial;
          padding: 0; }
        .navigation-container .places ul li div {
          display: block; }
    .navigation-container .places .line {
      display: inline-block;
      width: 2px;
      height: 30px;
      background-color: rgba(85, 85, 96, 0.702); }

.slick-slide {
  outline: none; }

.map-container {
  height: 100%;
  width: 28%;
  right: 0;
  top: 550px;
  padding-top: 170px;
  position: absolute; }
  .map-container .btn-hide-map {
    position: absolute;
    z-index: 6;
    right: 0;
    width: 45px;
    height: 40px;
    background-color: black;
    opacity: 0.6;
    font-size: 28px;
    border: 0; }
    .map-container .btn-hide-map i {
      color: #fff;
      vertical-align: text-top; }
    .map-container .btn-hide-map:focus {
      outline: none; }
  .map-container .map {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 14px 0 rgba(155, 155, 155, 0.5); }

.base {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 251px;
  top: 189px;
  width: 463px;
  height: 39px;
  z-index: 1231; }

.city {
  font-size: 24px;
  font-family: "OpenSans", sans-serif;
  color: #f25b53;
  text-transform: uppercase;
  margin-top: 27px;
  margin-left: 16px; }
  .city img {
    width: 35px;
    margin-top: -7px; }
  .city span {
    font-weight: 600; }

.city_content {
  margin-bottom: 55px; }

.note-caption {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: rgba(85, 85, 96, 0.702);
  display: inline-block;
  margin: 28px 16px 23px;
  text-transform: uppercase; }

.show-loader {
  display: block; }

.loader-page {
  width: 100%;
  height: 100%;
  top: 166px;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  display: none; }
  .loader-page body {
    font-family: "Lato", sans-serif;
    background: #efecca;
    color: #1d1d1d;
    margin: 0;
    padding: 0; }
  .loader-page .loader {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 48.2842712474619px;
    height: 48.2842712474619px;
    margin-left: -24.14213562373095px;
    margin-top: -24.14213562373095px;
    border-radius: 100%;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 4s;
    animation-duration: 4s; }
  .loader-page .loader .side {
    display: block;
    width: 6px;
    height: 20px;
    background-color: #f25b53;
    margin: 2px;
    position: absolute;
    border-radius: 50%;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease; }
  .loader-page .loader .side:nth-child(1),
  .loader-page .loader .side:nth-child(5) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-name: rotate0;
    animation-name: rotate0; }
  .loader-page .loader .side:nth-child(3),
  .loader-page .loader .side:nth-child(7) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-name: rotate90;
    animation-name: rotate90; }
  .loader-page .loader .side:nth-child(2),
  .loader-page .loader .side:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-name: rotate45;
    animation-name: rotate45; }
  .loader-page .loader .side:nth-child(4),
  .loader-page .loader .side:nth-child(8) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-animation-name: rotate135;
    animation-name: rotate135; }
  .loader-page .loader .side:nth-child(1) {
    top: 24.14213562373095px;
    left: 48.2842712474619px;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(2) {
    top: 41.21320343109277px;
    left: 41.21320343109277px;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(3) {
    top: 48.2842712474619px;
    left: 24.14213562373095px;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(4) {
    top: 41.21320343109277px;
    left: 7.07106781636913px;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(5) {
    top: 24.14213562373095px;
    left: 0;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(6) {
    top: 7.07106781636913px;
    left: 7.07106781636913px;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(7) {
    top: 0;
    left: 24.14213562373095px;
    margin-left: -3px;
    margin-top: -10px; }
  .loader-page .loader .side:nth-child(8) {
    top: 7.07106781636913px;
    left: 41.21320343109277px;
    margin-left: -3px;
    margin-top: -10px; }
@-webkit-keyframes rotate0 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
@keyframes rotate0 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
@-webkit-keyframes rotate90 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  60% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }
@keyframes rotate90 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  60% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }
@-webkit-keyframes rotate45 {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  60% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }
  100% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); } }
@keyframes rotate45 {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  60% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }
  100% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); } }
@-webkit-keyframes rotate135 {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  60% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); }
  100% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); } }
@keyframes rotate135 {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  60% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); }
  100% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); } }
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.note-element {
  border: 1px solid #dee1da;
  border-radius: 10px; }
  .note-element .element-content .element-header {
    position: relative;
    color: #fff;
    min-height: 200px;
    padding: 8px;
    border-radius: 10px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .note-element .element-content .element-header .image-blackout {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: -8px;
      border-radius: 10px;
      background-color: #883632;
      opacity: 0.4; }
    .note-element .element-content .element-header .note-image {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      height: 100%;
      opacity: 0.6; }
    .note-element .element-content .element-header .header_text {
      position: relative; }
      .note-element .element-content .element-header .header_text div {
        margin: 4px 0;
        font-size: 14px;
        font-family: "OpenSans", sans-serif; }
      .note-element .element-content .element-header .header_text .element-form {
        text-align: left; }
      .note-element .element-content .element-header .header_text .element-pay {
        text-align: left; }
      .note-element .element-content .element-header .header_text .book_now {
        min-width: 125px;
        text-transform: uppercase;
        background-color: #f25b53;
        margin-top: 8px;
        border-radius: 20px; }
      .note-element .element-content .element-header .header_text .category {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 15px; }
      .note-element .element-content .element-header .header_text .place_name {
        margin-top: 0;
        font-size: 18px; }
      .note-element .element-content .element-header .header_text .checkin-rating {
        padding: 0;
        font-size: 16px;
        margin: 0; }
        .note-element .element-content .element-header .header_text .checkin-rating .fa-star {
          color: red; }
      .note-element .element-content .element-header .header_text .location {
        margin-top: 22px;
        color: #f25b53; }
  .note-element .element-content .element-rating {
    padding: 8px 0; }
    .note-element .element-content .element-rating .rating {
      display: inline-block;
      min-width: 33.2px;
      border: 1px solid #dee1da;
      border-radius: 5px; }
  .note-element .element-content ul {
    display: inline-block; }
    .note-element .element-content ul li {
      display: inline-block; }
  .note-element .element-content .soufians_rating {
    padding: 0 8px; }
    .note-element .element-content .soufians_rating .checkin-rating {
      padding-left: 8px;
      color: rgba(85, 85, 96, 0.702);
      font-size: 15px;
      margin-bottom: 0; }
      .note-element .element-content .soufians_rating .checkin-rating .fa-star {
        color: red; }
  .note-element .note-comment {
    padding: 0 8px;
    margin-top: 15px;
    min-height: 120px; }
    .note-element .note-comment .comment-title {
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .note-element .note-comment .comment-content {
      min-height: 80px;
      word-wrap: break-word;
      word-break: break-word; }
    .note-element .note-comment .shown-comment {
      position: relative;
      overflow: hidden;
      height: 80px; }
      .note-element .note-comment .shown-comment:before {
        display: block;
        content: '...';
        position: absolute;
        z-index: 10;
        right: 0px;
        bottom: -3px;
        background: #fff;
        width: 9%;
        padding: 3px;
        color: blue; }
  .note-element .note-footer {
    color: #f25b53;
    padding: 8px 0 10px; }
    .note-element .note-footer ::-webkit-scrollbar {
      position: absolute;
      top: 0;
      height: 10px;
      background-color: transparent;
      -webkit-border-radius: 100px; }
    .note-element .note-footer ::-webkit-scrollbar:hover {
      background-color: rgba(0, 0, 0, 0.09); }
    .note-element .note-footer ::-webkit-scrollbar-thumb:horizontal {
      background: rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 100px;
      background-clip: padding-box;
      border: 2px solid transparent;
      min-height: 6px; }
    .note-element .note-footer ::-webkit-scrollbar-thumb:horizontal:active {
      background: rgba(0, 0, 0, 0.61);
      -webkit-border-radius: 100px; }
    .note-element .note-footer .tag {
      position: relative;
      white-space: nowrap;
      text-overflow: clip;
      overflow: hidden;
      margin: 0 8px;
      cursor: pointer;
      padding-left: 0; }
      .note-element .note-footer .tag li {
        display: inline-block; }
      .note-element .note-footer .tag li + li:before {
        content: '\2022';
        padding: 0 8px;
        color: #f25b53;
        font-size: 8px;
        vertical-align: middle; }
      .note-element .note-footer .tag:hover {
        overflow-x: scroll;
        margin-bottom: -10px; }

.marker {
  background-color: #ea4d43; }
  .marker.active {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #ea4d43;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center; }
  .marker.hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #ea4d43;
    margin-left: -20px !important;
    margin-top: -20px !important;
    background-repeat: no-repeat;
    background-position: center center; }

.fixed-menu .navigation-container {
  position: fixed;
  margin-top: 98px;
  top: 0;
  height: 70px; }
  .fixed-menu .navigation-container .slider {
    margin: 4px 0; }
  .fixed-menu .navigation-container .scroll-note {
    bottom: -20px;
    padding-top: 4px; }
  .fixed-menu .navigation-container .dpd-menu {
    top: 9px; }
  .fixed-menu .navigation-container .down-arrow {
    top: 15px; }
.fixed-menu .map-container {
  position: fixed;
  top: 0; }
.fixed-menu .content {
  padding-top: 67px; }

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%; }

.check-in-modal .modal-dialog {
  border-radius: 10px;
  box-shadow: -2.605px 14.772px 91.67px 11.33px rgba(9, 23, 59, 0.4);
  width: 464px;
  overflow: visible; }
.check-in-modal button:focus {
  outline: none; }
.check-in-modal .modal-header {
  padding: 0 30px;
  padding-top: 24px;
  border: 0; }
  .check-in-modal .modal-header .close {
    margin-top: -8px;
    margin-right: -8px;
    font-size: 32px;
    color: #f25b53;
    opacity: 1; }
    .check-in-modal .modal-header .close span {
      font-weight: 100; }
  .check-in-modal .modal-header .modal-title {
    font-size: 22px; }
.check-in-modal .modal-body {
  padding: 0 30px;
  padding-top: 12px; }
  .check-in-modal .modal-body .checkin-place {
    font-size: 16px;
    letter-spacing: 2px; }
    .check-in-modal .modal-body .checkin-place span {
      color: #f25b53; }
  .check-in-modal .modal-body .timepicker:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .uib-datepicker .btn-default {
    border: none;
    border-radius: 0;
    background-image: none;
    border-color: transparent; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group .btn-danger {
    background-image: none;
    border: none;
    background-color: #f25b53; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group .btn-info {
    background-image: none;
    border: none; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group:hover, .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-group :focus {
    border: none; }
  .check-in-modal .modal-body .checkin-calendar .input-group .uib-datepicker-popup .btn-success {
    background-image: none;
    border: none; }
  .check-in-modal .modal-body .ui-timepicker-input {
    cursor: pointer; }
  .check-in-modal .modal-body .ui-timepicker-wrapper {
    display: block;
    position: absolute;
    left: 0;
    width: 87%;
    border: 1px solid #c1c1c1;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    list-style: none;
    max-height: 100px;
    overflow-y: scroll; }
    .check-in-modal .modal-body .ui-timepicker-wrapper .ui-timepicker-list {
      padding: 0 13px; }
      .check-in-modal .modal-body .ui-timepicker-wrapper .ui-timepicker-list .ui-timepicker-am {
        list-style: none; }
  .check-in-modal .modal-body .checkin-title {
    font-size: 18px;
    margin-bottom: 7px; }
    .check-in-modal .modal-body .checkin-title span {
      font-weight: bold; }
  .check-in-modal .modal-body .checkin-rating {
    list-style: none;
    padding: 0; }
    .check-in-modal .modal-body .checkin-rating li {
      display: inline-block;
      font-size: 20px;
      color: #ea4d43;
      cursor: pointer; }
.check-in-modal .modal-footer {
  padding: 0; }
  .check-in-modal .modal-footer .btn-next {
    width: 100%;
    border-radius: 0;
    height: 60px;
    background-color: #f25b53;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
.check-in-modal .modal-map-container {
  height: 150px;
  margin: 0 -30px; }

.uib-button-bar {
  display: none; }

.checkin-calendar .input-group-btn .btn {
  background: none;
  border: none;
  box-shadow: none; }
.checkin-calendar .fa-angle-down {
  color: #f25b53;
  font-size: 24px; }
.checkin-calendar .form-control {
  border: none;
  box-shadow: none;
  color: #f25b53;
  text-align: center;
  font-size: 18px; }
.checkin-calendar .bootstrap-timepicker {
  color: #f25b53; }
  .checkin-calendar .bootstrap-timepicker .fa-angle-down {
    position: absolute;
    right: 30px;
    top: 6px; }

.ui-timepicker-wrapper {
  text-align: center;
  cursor: pointer; }

.timepicker {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  width: 90%; }

.uib-datepicker-popup *:focus {
  outline: none; }
.uib-datepicker-popup:focus {
  outline: none; }
.uib-datepicker-popup .btn-default:focus, .uib-datepicker-popup .btn-default:hover {
  background-color: #f25b53;
  color: #fff; }
.uib-datepicker-popup .text-info, .uib-datepicker-popup .text-muted {
  color: #fff; }
.uib-datepicker-popup .btn.btn-default.btn-info {
  background-color: #f25b53;
  color: #fff; }
.uib-datepicker-popup .btn-info.active, .uib-datepicker-popup .btn-info:active {
  background-color: #ea4d43;
  color: #fff; }

.gm-style-cc, .gmnoprint {
  display: none; }

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 10px; } }
@media (max-width: 1250px) {
  .dropdown-menu {
    left: 450px !important; }

  .menu_section .navbar-default .navbar-nav > li {
    margin: 0 4px; }
  .menu_section .navbar-default .navbar-brand {
    margin-right: 8px; }
  .menu_section .navbar-default .navbar-search .input-group {
    width: 100%; }
  .menu_section .navbar-default .navbar-search .form-control {
    width: 100%; }
  .menu_section .navbar-default .navbar-search .input-group-addon {
    right: 14px; }
  .menu_section .navbar-default .notification span {
    right: 0; }

  .comment-content {
    min-height: 60px !important; }

  .shown-comment {
    height: 60px !important; } }
@media (max-width: 768px) {
  .content .slider-for .slide-content {
    margin-left: 10px; }

  .dropdown-menu {
    left: 350px !important; }

  .loader-page {
    top: 135px; }

  .slider:before {
    width: 90px !important; }
  .slider:after {
    width: 68px !important; }

  .slick-track .slide div {
    padding-left: 0 !important; }
  .slick-track .slide .nav-city:before {
    content: ''; }

  .country-is-shown .slide-border {
    border-left: none !important; }

  .note-place-rating li:first-child {
    display: block;
    text-align: right; }

  .comment-author {
    height: 40px; }

  .comment-time {
    width: 134px;
    top: 25px;
    right: 10px;
    text-align: right; }

  .note-menu .chekin-inputs {
    height: auto;
    padding: 15px 0; }

  .menu_section .navbar-default .navbar-collapse {
    padding-right: 24px;
    background-color: rgba(85, 85, 96, 0.702); }
  .menu_section .navbar-default .container-fluid {
    padding: 8px 15px; }
  .menu_section .navbar-default .notification span {
    top: 8px; }
  .menu_section .navbar-default .profile-img {
    margin: 8px auto !important; }

  .fixed-menu .navigation-container {
    margin-top: 65px;
    padding: 8px 0; }

  .navigation-container .slick-list {
    overflow: hidden; }
  .navigation-container .scroll-note {
    bottom: -18px; }
  .navigation-container .slide_pager.slick-current span {
    margin-top: 10px; }

  .fixed-menu .navigation-container .scroll-note {
    bottom: -20px; }
  .fixed-menu .navigation-container .down-arrow {
    right: 10px; }
  .fixed-menu .navigation-container .slide_pager.slick-current span {
    margin-top: 0; }

  .map-container {
    width: 40%; } }
@media (max-width: 435px) {
  .footer .footer_ul li:before {
    padding: 0; }
  .footer .footer_ul li a {
    font-size: 12px; }
  .footer .copyright {
    font-size: 10px; }

  .main_header .top_buttons .btn {
    width: 100px; }

  .note-menu .add-button:hover {
    left: -12px;
    transition: none; }
  .note-menu .close-button {
    left: -15px;
    top: 0;
    transition: none; }

  .note .note-icon {
    left: -13px; }

  .navigation-container {
    padding-left: 0 !important; }
    .navigation-container .scroll-note {
      padding: 24px 25px; }

  .slider:before {
    width: 68px !important; }

  .slick-list {
    margin-left: 32px !important; }

  .modal-dialog {
    width: 95% !important; }

  .dropdown-menu {
    left: 0 !important; }

  .fixed-menu .slider:after {
    width: 80px !important; }

  .main_header .container {
    padding-top: 70px; }
    .main_header .container .title-contetn h1 {
      line-height: 1; }
    .main_header .container .title-contetn .name {
      text-align: center; }
      .main_header .container .title-contetn .name span {
        margin-right: 0; }
    .main_header .container .title-contetn .date {
      text-align: center; }
      .main_header .container .title-contetn .date span {
        margin-left: 0; } }
@media (max-width: 375px) {
  .note-menu .group-item {
    text-align: left; }

  .scroll-note {
    padding: 24px 25px !important; }

  .slick-list {
    margin-left: 65px !important; } }

/*# sourceMappingURL=tripCheckin.css.map */
